<div class="well" ng-repeat="choreType in choreTypes">
		<h3 class="panel-title">{{choreType}} chores</h3>
		<br />
		<div class="input-group input-group-lg">
			<input type="text" class="form-control" ng-model="newChores[choreType]" placeholder="Chore" aria-describedby="sizing-addon1">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="addChore(choreType)">Add</button>
			</span>
		</div>
		<br />

		<ul class="list-group">
			<li class="list-group-item clearfix" ng-repeat="chore in chores" ng-show="chore.type == choreType">
				{{chore.content}}
				<span class="pull-right">
					<span class="btn btn-xs btn-danger" ng-click="deleteChore(chore.id)">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</span>
				</span>
			</li>
		</ul>

</div>


