<div ng-repeat="choreType in choreTypes">
		<h2 class="panel-title">{{choreType}} chores</h2>
		<br />

		<div class="list-group">
			<span ng-repeat="chore in chores">
				<a class="list-group-item"
					ng-show="(chore.type == choreType) && !chore.edit"
					 ng-click="chore.edit = !chore.edit">
					{{chore.content}}
				</a>
				<div class="list-group-item" ng-show="chore.edit && (chore.type == choreType)">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="chore.content" />
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="saveChore(chore)" title="Save">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</button>
							<button class="btn btn-default" type="button" ng-click="deleteChore(chore.id)" title="Delete">
								<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							</button>
							<button class="btn btn-default" type="button" ng-click="chore.edit = !chore.edit" title="Cancel">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
						</span>
					</div>
				</div>
			</span>
			<div class="list-group-item">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="newChores[choreType]" placeholder="New Chore" aria-describedby="sizing-addon1">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="addChore(choreType)">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
					</span>
				</div>
			</div>
		</div>


	<hr />
</div>


