
<h1>Weekly</h1>
<ul class="list-group">
	<!-- due daily -->
	<li class="list-group-item clearfix task-list {{task.className}}" ng-repeat="task in tasks.weekly" ng-show="task.due">
		<input class="pull-right" type="checkbox" value="" ng-click="doWork(task)" />
		<label>{{task.content}}</label>
	</li>
</ul>

<ul class="list-group">
	<!-- complete daily -->
	<li class="list-group-item clearfix task-list disabled" ng-repeat="task in tasks.weekly" ng-hide="task.due">
		<input class="pull-right" type="checkbox" value="" checked ng-click="undoWork(task)" />
		<label>{{task.content}}</label>
	</li>
</ul>
